.container {
    max-width: 750px;
    // background-color: #EFFFFD;
    background-color: #EEEEEE;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.flaticon {
    width: 150px;
    padding: 6px;
    margin: 6px;
}

.image {
    width: 400px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px grey;

}

.image:last-child {
    margin-bottom: 8px;
}

nav {
    padding: 6px;
    margin: 6px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;
            padding: 6px;
            margin: 6px;
            background-color: #4B5D67;
            border-radius: 6px;
            width: 75px;
            text-align: center;

            a {

                text-decoration: none;
                color: white;
            }
        }

        li:hover {
            transform: scale(.9);
            opacity: .8;
        }
    }
}

hr {
    border-top: 1px solid grey;
}